@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,italic);
@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: ""
}
._icon-clock:before {
  content: ""
}
._icon-geo-alt:before {
  content: ""
}
._icon-quetos:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-s-medium:before {
  content: ""
}
._icon-star-empty:before {
  content: ""
}
._icon-star-fill:before {
  content: ""
}
._icon-s-tik-tok:before {
  content: ""
}
._icon-s-twitter:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px;
  background: #efe9dd
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 100.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,98.25rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  font-weight: 300;
  line-height: 156%;
  color: #222220;
  border-radius: 3.125rem;
  padding: .625rem 1.875rem;
  background: #ede4ca;
  transition: .3s ease all;
  position: relative
}
.button:not(.button--border)::before {
  content: "";
  background: #bbb6a8 url(../img/decor/gold-star-backgroud.webp) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3.125rem;
  opacity: .4;
  position: absolute;
  z-index: 1;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  transition: .3s ease all
}
.button:not(.button--border) span {
  position: relative;
  z-index: 2
}
.button--fw {
  width: 100%
}
.button--border {
  background: rgba(0,0,0,0);
  color: #c1ab81;
  border: .0625rem solid #c1ab81
}
.menu__list {
  display: flex;
  -webkit-column-gap: 2.8125rem;
  -moz-column-gap: 2.8125rem;
  column-gap: 2.8125rem;
  flex-wrap: wrap;
  align-items: center;
  row-gap: .9375rem
}
.menu__link {
  line-height: 1.56;
  color: #c1ab81;
  position: relative
}
.menu__link::before {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 0;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  block-size: .0625rem;
  inline-size: 0;
  background: #c1ab81;
  transition: .3s ease-in-out all
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup__body {
  inline-size: 100%;
  max-block-size: 80vh;
  aspect-ratio: 50/25
}
.popup__body iframe {
  inline-size: 100%;
  block-size: 100%
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 90%;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.content>*:not(:last-child) {
  -webkit-margin-after: 1.25rem;
  margin-block-end: 1.25rem
}
.content__up-title {
  line-height: 1.56;
  text-transform: capitalize;
  color: #fff
}
.content__title {
  text-transform: capitalize;
  color: #9d875c;
  font-family: Italiana
}
.content__quote {
  font-style: italic;
  line-height: 1.56;
  color: #fff
}
.content__text {
  line-height: 1.56;
  color: #fff
}
.header {
  position: fixed;
  z-index: 50;
  padding-block: 2.3125rem;
  inline-size: 100%
}
.header._header-scroll {
  background: rgba(36,29,17,.8);
  padding-block: .8125rem;
  -webkit-border-after: .0625rem #c1ab81 solid;
  border-block-end: .0625rem #c1ab81 solid
}
.header__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .9375rem
}
.logo {
  flex-shrink: 0;
  aspect-ratio: 216/78
}
.logo svg {
  inline-size: 100%;
  block-size: 100%
}
.actions-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: .75rem
}
.actions-header__profile {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-column-gap: 3.25rem;
  -moz-column-gap: 3.25rem;
  column-gap: 3.25rem;
  row-gap: .9375rem
}
.actions-header__action {
  line-height: 1.56;
  color: #c1ab81;
  position: relative
}
.actions-header__action::before {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 0;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  block-size: .0625rem;
  inline-size: 0;
  background: #c1ab81;
  transition: .3s ease-in-out all
}
.footer {
  background: #222220;
  position: relative;
  -webkit-padding-before: 5.75rem;
  padding-block-start: 5.75rem
}
.footer-decor {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 25%;
  min-inline-size: 12.5rem;
  aspect-ratio: 1/1
}
.footer-decor svg {
  inline-size: 100%;
  block-size: 100%
}
.footer-decor-2 {
  -webkit-transform: scale(-1,-1);
  transform: scale(-1,-1);
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-inline-start: auto;
  inset-block-end: auto
}
.main-footer {
  display: flex;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 3.75rem;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-padding-after: 2.8125rem;
  padding-block-end: 2.8125rem;
  -webkit-border-after: .0625rem #c1ab81 solid;
  border-block-end: .0625rem #c1ab81 solid
}
.main-footer__info {
  flex: 1 0 17.125rem;
  transition: 1.3s ease-out transform,1s ease-out opacity;
  -webkit-transform: translate(0,-15%);
  transform: translate(0,-15%);
  opacity: 0
}
._watcher-view .main-footer__info {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.main-footer__info>*:not(:last-child) {
  -webkit-margin-after: 2.5rem;
  margin-block-end: 2.5rem
}
.main-footer__socials {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .9375rem
}
.main-footer__social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1
}
.main-footer__social-link::before {
  color: #c1ab81;
  font-size: 1.5rem
}
.main-footer__social-link::after {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  inset-block-start: 50%;
  aspect-ratio: 1/1;
  border: .0625rem solid #c1ab81;
  border-radius: 50%;
  inline-size: 0;
  opacity: 0;
  transition: .3s ease-out inline-size,.4s ease-out opacity
}
.main-footer__logo {
  -webkit-border-end: .0625rem solid #c1ab81;
  border-inline-end: .0625rem solid #c1ab81;
  -webkit-border-start: .0625rem solid #c1ab81;
  border-inline-start: .0625rem solid #c1ab81;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 18.5625rem;
  transition: 1.3s ease-out transform .5s,1s ease-out opacity .5s;
  -webkit-transform: translate(0,-15%);
  transform: translate(0,-15%);
  opacity: 0
}
._watcher-view .main-footer__logo {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.more-main-footer>*:not(:last-child) {
  -webkit-margin-after: .9375rem;
  margin-block-end: .9375rem
}
.more-main-footer__title {
  list-style: none;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #c1ab81
}
.more-main-footer__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  row-gap: .9375rem
}
.more-main-footer__link {
  font-weight: 300;
  line-height: 1.56;
  color: #c1ab81;
  position: relative
}
.more-main-footer__link::before {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 0;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  block-size: .0625rem;
  inline-size: 0;
  background: #c1ab81;
  transition: .3s ease-in-out all
}
.details-main-footer {
  display: flex;
  flex: 1 0 17.125rem;
  transition: 1.3s ease-out transform 1s,1s ease-out opacity 1s;
  -webkit-transform: translate(0,-15%);
  transform: translate(0,-15%);
  opacity: 0
}
._watcher-view .details-main-footer {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.details-main-footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  row-gap: .9375rem
}
.details-main-footer__title {
  font-family: Italiana;
  font-size: 2rem;
  text-transform: capitalize;
  color: #c1ab81
}
.form-details {
  display: flex;
  -webkit-padding-after: .3125rem;
  padding-block-end: .3125rem;
  -webkit-border-after: .0625rem solid rgba(193,171,129,.2);
  border-block-end: .0625rem solid rgba(193,171,129,.2)
}
.form-details__input {
  flex: 1 1 auto;
  color: #c1ab81;
  border-radius: .5rem 0 0 .5rem;
  padding: .3125rem .625rem .3125rem 0
}
.form-details__input::-webkit-input-placeholder {
  color: #c1ab81
}
.form-details__input:-ms-input-placeholder {
  color: #c1ab81
}
.form-details__input::-ms-input-placeholder {
  color: #c1ab81
}
.form-details__input::placeholder {
  color: #c1ab81
}
.form-details__button {
  flex-shrink: 0;
  padding: .6875rem .5rem;
  text-align: center;
  color: #c1ab81;
  border-radius: 0 .5rem .5rem 0
}
.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 2.625rem
}
.bottom-footer__title {
  line-height: 1.87;
  color: #c1ab81
}
.intro {
  position: relative;
  background: #9d875c url(../img/decor/main-background.webp) 0 0 no-repeat;
  background-size: cover;
  background-position: center top;
  -webkit-padding-before: 10.625rem;
  padding-block-start: 10.625rem;
  -webkit-padding-end: .9375rem;
  padding-inline-end: .9375rem
}
.intro__container {
  display: grid;
  grid-template-columns: 28% 45% 27%;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  align-items: center
}
.arrows-swiper {
  position: absolute;
  inset-inline-end: 5.25%;
  inset-block-end: 6.375%;
  display: flex;
  z-index: 2;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem
}
.arrows-swiper__arrow {
  font-size: 1rem;
  color: #c1ab81;
  transition: .3s ease-out all
}
.arrows-swiper__arrow.swiper-button-next::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.body-intro {
  position: relative;
  z-index: 2;
  -webkit-margin-end: -63%;
  margin-inline-end: -63%
}
.body-intro__title {
  font-family: Italiana;
  text-transform: capitalize;
  color: #c1ab81;
  -webkit-margin-after: 1.875rem;
  margin-block-end: 1.875rem
}
.slide-circle {
  position: relative;
  padding-block: 8%
}
.slide-circle__circle-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .0625rem solid #c1ab81;
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%
}
.slide-circle__circle-photo-body {
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  inline-size: 92%;
  background: radial-gradient(circle,#221d16 27%,#1f1a13 44%,#17130d 75%)
}
.slide-circle__circle-photo-body img {
  -webkit-margin-before: -5%;
  margin-block-start: -5%;
  position: absolute;
  inline-size: 110%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  inset-block-start: 50%;
  inset-inline-start: 43%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.slide-circle__up-photo {
  position: absolute;
  inline-size: 100.6%;
  block-size: 30%;
  overflow: hidden;
  inset-block-start: 2.5%;
  inset-inline-start: -7%
}
.slide-circle__up-photo img {
  inline-size: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover
}
.mini-circle__slide {
  flex: 1 0 9.375rem
}
.attitude {
  -webkit-padding-before: 10.625rem;
  padding-block-start: 10.625rem;
  -webkit-padding-after: 4.6875rem;
  padding-block-end: 4.6875rem
}
.attitude__container>*:not(:last-child) {
  -webkit-margin-after: 5rem;
  margin-block-end: 5rem
}
.attitude__items {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: space-around;
  align-items: start
}
.content-attitude {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 1.875rem
}
.photo-body {
  flex: 1 0 30.625rem;
  padding: .875rem;
  border: .0625rem solid #9d875c;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(-8%,0);
  transform: translate(-8%,0);
  opacity: 0
}
._watcher-view .photo-body {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.photo-body__image {
  inline-size: 100%;
  block-size: 100%;
  position: relative
}
.photo-body__image img {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.body-content-attitude {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(8%,0);
  transform: translate(8%,0);
  opacity: 0
}
._watcher-view .body-content-attitude {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.body-content-attitude .content {
  max-inline-size: 75%
}
.body-content-attitude .content__up-title {
  color: #222220
}
.body-content-attitude .content__title {
  color: #c1ab81
}
.body-content-attitude .content__quote {
  color: #222220
}
.body-content-attitude .content__text {
  color: #222220
}
.item-attitude {
  flex: 1 0 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.875rem;
  transition: 1.3s ease-out all;
  opacity: 0
}
.item-attitude:nth-child(n) {
  -webkit-transform: translate(0,-12%);
  transform: translate(0,-12%)
}
.item-attitude:nth-child(2n) {
  -webkit-transform: translate(0,12%);
  transform: translate(0,12%)
}
._watcher-view .item-attitude {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-attitude__icon-body {
  position: relative;
  inline-size: 8.75rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  padding: .3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6dab5
}
.item-attitude__icon-body svg {
  position: relative;
  z-index: 2;
  inline-size: 53%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain
}
.item-attitude__icon-body::before {
  content: "";
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  background: url(../img/decor/gold-star-backgroud.webp) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .3
}
.item-attitude__title {
  font-family: Italiana;
  font-size: 1.5rem;
  color: #222220;
  text-transform: capitalize
}
.buy {
  -webkit-padding-after: 10.625rem;
  padding-block-end: 10.625rem;
  -webkit-padding-before: 5.625rem;
  padding-block-start: 5.625rem
}
.buy__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.75rem
}
.buy__header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-inline-size: 28.75rem;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(0,-15%);
  transform: translate(0,-15%);
  opacity: 0
}
.buy__header-content._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.buy__header-content .content__up-title {
  color: #222220
}
.buy__header-content .content__title {
  font-family: Italiana;
  color: #9d875c
}
.buy__header-content .content__text {
  color: #222220
}
.buy__items-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.125rem;
  inline-size: 100%
}
.buy__items {
  display: grid;
  grid-template-columns: repeat(4,minmax(12.5rem,1fr));
  justify-content: center;
  -webkit-column-gap: 3.25rem;
  -moz-column-gap: 3.25rem;
  column-gap: 3.25rem;
  row-gap: 3.75rem;
  inline-size: 100%
}
.item-buy {
  -webkit-transform: translate(0,12%);
  transform: translate(0,12%);
  opacity: 0
}
.item-buy:nth-child(n) {
  transition: 1.3s ease-out transform,1s ease-out opacity
}
.item-buy:nth-child(2n) {
  transition: 1.3s ease-out transform .2s,1s ease-out opacity .2s
}
._watcher-view .item-buy {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-buy>*:not(:last-child) {
  -webkit-margin-after: 2.5rem;
  margin-block-end: 2.5rem
}
.item-buy__goods {
  inline-size: 100%;
  aspect-ratio: 1/1;
  border: .125rem solid #9d875c;
  background: #e3d8b6;
  position: relative;
  padding: .5rem
}
.item-buy__goods::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  background: url(../img/decor/gold-star-backgroud.webp) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .4
}
.item-buy__photo-body {
  position: relative;
  inline-size: 100%;
  block-size: 100%
}
.item-buy__photo-body img {
  position: absolute;
  max-inline-size: 100%;
  max-block-size: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.item-buy__hidden-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(69,56,30,.75);
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  opacity: 0;
  transition: .2s ease-out all
}
.item-buy__hidden-block:hover {
  opacity: 1
}
.info-item-buy {
  display: flex;
  flex-direction: column
}
.info-item-buy>*:not(:last-child) {
  -webkit-margin-after: .9375rem;
  margin-block-end: .9375rem
}
.info-item-buy__main {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.info-item-buy__name {
  font-family: Italiana;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #222220;
  overflow: hidden;
  white-space: nowrap
}
.info-item-buy__price {
  font-size: 1.5rem;
  text-transform: capitalize
}
.rating {
  display: flex;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.rating__star {
  inline-size: 1.625rem;
  aspect-ratio: 1/1;
  background: url(../img/icons/star-empty.svg) 0 0 no-repeat;
  background-size: contain;
  background-position: center
}
.star--fill {
  background: url(../img/icons/star-fill.svg) 0 0 no-repeat;
  background-size: contain;
  background-position: center
}
.offer {
  position: relative;
  padding-block: 10rem;
  background: #222220
}
.offer::before {
  content: "";
  position: absolute;
  inline-size: 41.6%;
  block-size: 100%;
  background: #c1ab81;
  inset-inline-start: 0;
  inset-block-start: 0
}
.offer__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem
}
.offer__minor-block {
  padding: 1.125rem;
  border: .0625rem solid #fff;
  aspect-ratio: 1/1;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
._watcher-view .offer__minor-block {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.offer__photo-body {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  transition: 1.3s ease-out transform .2s,1s ease-out opacity .2s;
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
._watcher-view .offer__photo-body {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.offer__photo-body img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%
}
.offer__decor {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 38%;
  min-inline-size: 15.625rem;
  aspect-ratio: 1/1;
  -webkit-transform: scale(-1,-1);
  transform: scale(-1,-1)
}
.offer__decor svg {
  inline-size: 100%;
  block-size: 100%
}
.main-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(15%,0);
  transform: translate(15%,0);
  opacity: 0
}
._watcher-view .main-offer {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.belief {
  position: relative;
  padding-block: 10rem
}
.belief__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 7.8125rem
}
.item-belief {
  transition: 1s ease-out all;
  opacity: 0
}
.item-belief._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-belief>*:not(:last-child) {
  -webkit-margin-after: 3.125rem;
  margin-block-end: 3.125rem
}
.item-belief img {
  aspect-ratio: 1/1;
  inline-size: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-belief__title {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  line-height: 1.4;
  color: #9d875c;
  font-family: Italiana
}
.item-belief__title::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #9d875c;
  transition: .3s ease-out all;
  font-size: 1.5rem
}
.item-belief__title::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 0;
  block-size: .125rem;
  background-color: #9d875c;
  transition: .3s ease-out all
}
.info {
  -webkit-padding-before: 3.75rem;
  padding-block-start: 3.75rem;
  -webkit-padding-after: 5.3125rem;
  padding-block-end: 5.3125rem;
  position: relative
}
.info::before {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 7.3%;
  min-block-size: 3.125rem;
  background: #c1ab81
}
.info__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.1875rem
}
.info__body-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 18.75rem
}
.content-info {
  position: relative;
  flex: 1 0 21.875rem
}
.content-info__photo {
  padding: 1.25rem;
  border: .0625rem solid #fff
}
.content-info__photo.photo--1 {
  inline-size: 85.5%;
  transition: 1.3s ease-out transform,1s ease-out opacity;
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
._watcher-view .content-info__photo.photo--1 {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.content-info__photo.photo--1 img {
  aspect-ratio: 685/402;
  inline-size: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content-info__photo.photo--2 {
  position: relative;
  z-index: 2;
  -webkit-margin-before: -8%;
  margin-block-start: -8%;
  justify-self: self-end;
  inline-size: 89.1%;
  transition: 1.3s ease-out transform .5s,1.3s ease-out opacity .5s;
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
._watcher-view .content-info__photo.photo--2 {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.content-info__photo.photo--2 img {
  aspect-ratio: 707/544;
  inline-size: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content-info__video-play {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 22.6%;
  min-inline-size: 4.375rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #d6bd8f;
  inset-block-start: 30.3%;
  inset-inline-start: .625rem;
  transition: .8s ease-out all 1.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0
}
._watcher-view .content-info__video-play {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.content-info__video-play::before {
  content: "";
  position: relative;
  z-index: 2;
  inline-size: 0;
  block-size: 0;
  border-top: 1.5625rem solid transparent;
  border-left: 2.1875rem solid #000;
  border-bottom: 1.5625rem solid transparent
}
.content-info__video-play::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  aspect-ratio: 1/1;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: .125rem solid #c4aa7b;
  border-radius: 50%;
  -webkit-animation: puls 1.2s infinite linear;
  animation: puls 1.2s infinite linear
}
@-webkit-keyframes puls {
  0% {
    opacity: 1;
    inline-size: 100%
  }
  100% {
    inline-size: 140%;
    opacity: 0
  }
}
@keyframes puls {
  0% {
    opacity: 1;
    inline-size: 100%
  }
  100% {
    inline-size: 140%;
    opacity: 0
  }
}
.body-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  align-items: start;
  max-inline-size: 30.625rem;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(15%,0);
  transform: translate(15%,0);
  opacity: 0
}
._watcher-view .body-info {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.body-info__up-title {
  text-transform: capitalize
}
.body-info__title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #9d875c;
  font-family: Italiana
}
.schedule-body-info {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 1.5625rem;
  -webkit-padding-start: 2.25rem;
  padding-inline-start: 2.25rem
}
.schedule-body-info::before {
  position: absolute;
  color: #9d875c;
  inset-inline-start: 0;
  inset-block-start: 0
}
.schedule-body-info__item {
  font-size: 1.25rem;
  color: #222220
}
.address-body-info {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  -webkit-padding-start: 2.25rem;
  padding-inline-start: 2.25rem;
  word-break: break-word
}
.address-body-info::before {
  position: absolute;
  color: #9d875c;
  inset-inline-start: 0
}
.address-body-info__info {
  font-size: 1.25rem;
  color: #222220;
  font-style: normal
}
.reviews {
  -webkit-padding-after: 10rem;
  padding-block-end: 10rem;
  -webkit-padding-before: 5.3125rem;
  padding-block-start: 5.3125rem
}
.reviews__slider {
  position: relative;
  transition: 1.3s ease-out all;
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
._watcher-view .reviews__slider {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.reviews__arrows {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  align-items: center
}
.reviews__arrows .swiper-button--arrow {
  font-size: 2.0625rem
}
.reviews__arrows .swiper-button-next {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.slide-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 3.125rem;
  text-align: center
}
.slide-reviews__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 8.75rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background: #e2cea9;
  transition: 1s ease-out all 1s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0
}
._watcher-view .slide-reviews__icon {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.slide-reviews__icon::before {
  content: "";
  position: absolute;
  background: url(../img/decor/gold-star-backgroud.webp) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .4;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0
}
.slide-reviews__icon svg {
  max-inline-size: 80%;
  max-block-size: 80%;
  -o-object-fit: contain;
  object-fit: contain
}
.slide-reviews__quetos {
  display: inline
}
.slide-reviews__quetos::before {
  color: #9d875c
}
.slide-reviews__quetos.quetos-end::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.slide-reviews__text {
  display: flex;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem;
  font-size: 1.875rem;
  line-height: 1.67;
  max-inline-size: 74.0625rem
}
.slide-reviews__title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #9d875c
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:31.31125em) {
  .item-belief:nth-child(1n) {
    -webkit-transform: translate(-15%,0);
    transform: translate(-15%,0);
    inline-size: 75.3%
  }
  .item-belief:nth-child(1n)._watcher-view {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .item-belief:nth-child(2n) {
    -webkit-transform: translate(0,-15%);
    transform: translate(0,-15%);
    inline-size: 100%
  }
  .item-belief:nth-child(2n)._watcher-view {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .item-belief:nth-child(3n) {
    -webkit-transform: translate(0,15%);
    transform: translate(0,15%);
    inline-size: 100%
  }
  .item-belief:nth-child(3n)._watcher-view {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .item-belief:nth-child(4n) {
    -webkit-transform: translate(15%,0);
    transform: translate(15%,0);
    inline-size: 75.3%;
    justify-self: self-end
  }
  .item-belief:nth-child(4n)._watcher-view {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@media (min-width:35.68625em) {
  .reviews__arrows {
    inline-size: 100%;
    position: absolute;
    inset-block-start: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    justify-content: space-between
  }
}
@media (min-width:37.5em) {
  .offer__minor-block {
    flex: 1 1 16.875rem
  }
  .main-offer {
    flex: 1 1 15rem
  }
  .main-offer__content {
    max-inline-size: 28.625rem
  }
}
@media (min-width:38.81125em) {
  .header__container {
    justify-content: space-between
  }
}
@media (min-width:47.99875em) {
  .body-content-attitude {
    flex: 1 0 18.3125rem
  }
}
@media (min-width:61.99875em) {
  .attitude__items {
    max-inline-size: 70%
  }
}
@media (min-width:61.9375em) {
  .photo-body__image {
    min-block-size: 34.625rem
  }
}
@media (min-width:71.68625em) {
  .details-main-footer {
    justify-content: end
  }
  .details-main-footer__body {
    max-inline-size: 21.6875rem
  }
}
@media (min-width:78.75em) {
  .intro {
    min-block-size: 100vh
  }
}
@media (min-width:100.125em) {
  .content__title {
    font-size: 3rem
  }
}
@media (min-width:101.25em) {
  .mini-circle .slide-circle__up-photo {
    inset-block-start: 1.6875rem
  }
}
@media (min-width:79em) {
  .logo {
    inline-size: 13.5rem
  }
}
@media (min-width:100em) {
  .body-intro__title {
    font-size: 6.25rem
  }
}
@media (max-width:100em) {
  .footer-decor {
    opacity: .25
  }
  .offer__decor {
    opacity: .25
  }
}
@media (max-width:25em) {
  .body-intro__title {
    font-size: 1.25rem
  }
}
@media (max-width:20em) {
  .content__title {
    font-size: 1.25rem
  }
}
@media (max-width:84.75em) {
  .more-main-footer__list {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
}
@media (max-width:78.56125em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .actions-header {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .actions-header__profile {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
}
@media (max-width:78.5em) {
  .footer {
    -webkit-padding-before: 4.375rem;
    padding-block-start: 4.375rem
  }
  .main-footer {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
    row-gap: 2.8125rem
  }
  .main-footer__info>*:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .main-footer__socials {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .attitude__container>*:not(:last-child) {
    -webkit-margin-after: 3.75rem;
    margin-block-end: 3.75rem
  }
  .photo-body {
    flex: 1 0 21.875rem
  }
  .body-content-attitude .content {
    max-inline-size: 90%
  }
  .buy__items {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem;
    row-gap: 1.875rem
  }
  .offer {
    padding-block: 8.125rem
  }
  .belief {
    padding-block: 8.125rem
  }
  .belief__container {
    row-gap: 6.25rem
  }
  .item-belief>*:not(:last-child) {
    -webkit-margin-after: 2.5rem;
    margin-block-end: 2.5rem
  }
  .item-belief__title {
    font-size: 1.5rem
  }
  .item-belief__title::before {
    font-size: 1rem
  }
}
@media (max-width:78.75em) {
  .intro {
    -webkit-padding-before: 9.375rem;
    padding-block-start: 9.375rem
  }
  .attitude {
    -webkit-padding-before: 8.125rem;
    padding-block-start: 8.125rem
  }
  .buy {
    -webkit-padding-after: 8.75rem;
    padding-block-end: 8.75rem
  }
  .info {
    -webkit-padding-after: 4.0625rem;
    padding-block-end: 4.0625rem
  }
  .reviews {
    -webkit-padding-after: 8.125rem;
    padding-block-end: 8.125rem;
    -webkit-padding-before: 4.0625rem;
    padding-block-start: 4.0625rem
  }
}
@media (max-width:61.99875em) {
  .button {
    padding: .5rem 1.25rem
  }
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .header {
    padding-block: 1.25rem
  }
  .actions-header {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    justify-content: center
  }
  .actions-header__profile {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .footer {
    -webkit-padding-before: 3.125rem;
    padding-block-start: 3.125rem
  }
  .main-footer {
    -webkit-padding-after: 1.25rem;
    padding-block-end: 1.25rem
  }
  .main-footer__info>*:not(:last-child) {
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem
  }
  .main-footer__socials {
    row-gap: 1.25rem
  }
  .more-main-footer__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .bottom-footer {
    padding-block: 1.875rem
  }
  .intro {
    -webkit-padding-before: 6.25rem;
    padding-block-start: 6.25rem
  }
  .intro__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .attitude {
    -webkit-padding-before: 6.25rem;
    padding-block-start: 6.25rem;
    -webkit-padding-after: 4.0625rem;
    padding-block-end: 4.0625rem
  }
  .attitude__container>*:not(:last-child) {
    -webkit-margin-after: 2.8125rem;
    margin-block-end: 2.8125rem
  }
  .photo-body__image {
    aspect-ratio: 1/1
  }
  .item-attitude__icon-body {
    inline-size: 6.25rem
  }
  .buy {
    -webkit-padding-after: 6.25rem;
    padding-block-end: 6.25rem;
    -webkit-padding-before: 3.75rem;
    padding-block-start: 3.75rem
  }
  .buy__container {
    row-gap: 1.875rem
  }
  .buy__items-goods {
    row-gap: 1.5625rem
  }
  .buy__items {
    grid-template-columns: repeat(3,minmax(12.5rem,1fr))
  }
  .item-buy>*:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .info-item-buy__name {
    font-size: 1.375rem
  }
  .info-item-buy__price {
    font-size: 1.375rem
  }
  .offer {
    padding-block: 6.25rem
  }
  .belief {
    padding-block: 6.25rem
  }
  .belief__container {
    row-gap: 4.6875rem
  }
  .item-belief>*:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .info {
    -webkit-padding-after: 2.8125rem;
    padding-block-end: 2.8125rem
  }
  .content-info__photo {
    padding: .3125rem
  }
  .body-info__title {
    font-size: 1.875rem
  }
  .reviews {
    -webkit-padding-after: 6.25rem;
    padding-block-end: 6.25rem;
    -webkit-padding-before: 2.8125rem;
    padding-block-start: 2.8125rem
  }
  .reviews__arrows .swiper-button--arrow {
    font-size: 1.5625rem
  }
  .slide-reviews {
    row-gap: 1.875rem
  }
  .slide-reviews__text {
    font-size: 1.5rem
  }
  .slide-reviews__title {
    font-size: 2rem
  }
}
@media (max-width:61.9375em) {
  .body-content-attitude .content {
    max-inline-size: none
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    display: flex;
    row-gap: 1.25rem;
    flex-direction: column;
    position: fixed;
    width: 65%;
    min-inline-size: 15.625rem;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 2;
    overflow: auto;
    padding: 5.0625rem .9375rem .9375rem .9375rem;
    transition: left .3s;
    background: #1c1b1a;
    -webkit-border-end: #c1ab81 .0625rem solid;
    border-inline-end: #c1ab81 .0625rem solid
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 65%;
    height: 5.0625rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    -webkit-border-end: #c1ab81 .0625rem solid;
    border-inline-end: #c1ab81 .0625rem solid;
    background: #1c1b1a;
    min-inline-size: 15.625rem
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem;
    flex: 1 1 auto;
    flex-direction: column;
    row-gap: 1.25rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #c1ab81
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .content>*:not(:last-child) {
    -webkit-margin-after: .625rem;
    margin-block-end: .625rem
  }
  .header {
    padding-block: .75rem
  }
  .actions-header__profile {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer {
    -webkit-padding-before: 1.875rem;
    padding-block-start: 1.875rem
  }
  .main-footer {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    row-gap: 1.5625rem
  }
  .main-footer__info>*:not(:last-child) {
    -webkit-margin-after: .8125rem;
    margin-block-end: .8125rem
  }
  .main-footer__socials {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .main-footer__social-link::before {
    font-size: .9375rem
  }
  .more-main-footer>*:not(:last-child) {
    -webkit-margin-after: .8125rem;
    margin-block-end: .8125rem
  }
  .more-main-footer__link {
    font-size: .875rem
  }
  .details-main-footer__title {
    font-size: 1.625rem
  }
  .bottom-footer {
    padding-block: 1.25rem
  }
  .arrows-swiper {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .body-intro__title {
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem
  }
  .mini-circle__slide {
    flex: 1 0 5rem
  }
  .attitude {
    -webkit-padding-before: 3.125rem;
    padding-block-start: 3.125rem
  }
  .attitude__container>*:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .content-attitude {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .photo-body {
    flex: 0 1 18.75rem;
    min-block-size: 18.75rem;
    width: 100%
  }
  .photo-body__image {
    aspect-ratio: 820/516
  }
  .body-content-attitude .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .item-attitude {
    row-gap: 1.25rem
  }
  .item-attitude__icon-body {
    inline-size: 5rem
  }
  .item-attitude__title {
    font-size: 1.125rem
  }
  .buy {
    -webkit-padding-after: 5rem;
    padding-block-end: 5rem;
    -webkit-padding-before: 2.5rem;
    padding-block-start: 2.5rem
  }
  .buy__items {
    grid-template-columns: repeat(2,minmax(12.5rem,1fr));
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .item-buy>*:not(:last-child) {
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem
  }
  .info-item-buy__name {
    font-size: 1.25rem
  }
  .info-item-buy__price {
    font-size: 1.25rem
  }
  .rating {
    -webkit-column-gap: .25rem;
    -moz-column-gap: .25rem;
    column-gap: .25rem
  }
  .rating__star {
    inline-size: 1.25rem
  }
  .offer {
    padding-block: 4.375rem
  }
  .belief {
    padding-block: 4.375rem
  }
  .belief__container {
    row-gap: 3.75rem
  }
  .item-belief>*:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .item-belief__title {
    font-size: 1.25rem
  }
  .item-belief__title::before {
    font-size: .75rem
  }
  .info {
    -webkit-padding-after: 1.875rem;
    padding-block-end: 1.875rem
  }
  .reviews {
    -webkit-padding-after: 4.6875rem;
    padding-block-end: 4.6875rem;
    -webkit-padding-before: 1.875rem;
    padding-block-start: 1.875rem
  }
  .reviews__arrows .swiper-button--arrow {
    font-size: 1.25rem
  }
  .slide-reviews {
    padding-inline: 3.75rem
  }
  .slide-reviews__icon {
    inline-size: 6.25rem
  }
  .slide-reviews__text {
    font-size: 1.25rem
  }
  .slide-reviews__title {
    font-size: 1.625rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.9375em) {
  .mini-circle .slide-circle__up-photo {
    inset-block-start: .5rem
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .mini-circle .slide-circle__up-photo {
    inset-block-start: .125rem
  }
}
@media (max-width:38.75em) {
  .header__logo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center
  }
  .main-footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (max-width:37.5em) {
  .offer::before {
    background: rgba(0,0,0,.2)
  }
  .offer__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center
  }
  .offer__minor-block {
    block-size: 16.875rem;
    inline-size: 100%;
    padding: .5rem
  }
  .main-offer__content .button--border {
    color: #9d875c;
    border: .0625rem solid #9d875c
  }
}
@media (max-width:37.5em)and (any-hover:hover) {
  .main-offer__content .button--border:hover {
    background: rgba(12,12,1,.5)
  }
}
@media (max-width:35.625em) {
  .reviews__container {
    display: grid;
    row-gap: 1.875rem
  }
  .reviews__arrows {
    justify-self: center
  }
}
@media (max-width:35.68625em) {
  .slide-reviews {
    padding-inline: 0
  }
}
@media (max-width:31.25em) {
  .button {
    padding: .3125rem .625rem
  }
  .popup__content {
    padding: .5rem
  }
  .logo {
    inline-size: 7.5rem
  }
  .footer {
    -webkit-padding-before: .9375rem;
    padding-block-start: .9375rem
  }
  .main-footer__info>*:not(:last-child) {
    -webkit-margin-after: .5rem;
    margin-block-end: .5rem
  }
  .main-footer__socials {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    row-gap: .5rem
  }
  .main-footer__social-link::after {
    -webkit-transform: translate(-50%,calc(-50% - .0625rem));
    transform: translate(-50%,calc(-50% - .0625rem))
  }
  .more-main-footer>*:not(:last-child) {
    -webkit-margin-after: .5rem;
    margin-block-end: .5rem
  }
  .more-main-footer__title {
    font-size: 1.125rem
  }
  .more-main-footer__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem;
    row-gap: .625rem
  }
  .details-main-footer__body {
    row-gap: .5rem
  }
  .details-main-footer__title {
    font-size: 1.25rem
  }
  .bottom-footer__title {
    font-size: .875rem
  }
  .intro {
    -webkit-padding-before: 4.375rem;
    padding-block-start: 4.375rem
  }
  .intro__container {
    grid-template-columns: 35% 40% 20%;
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
  }
  .arrows-swiper {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem;
    inset-block-end: 3%
  }
  .arrows-swiper__arrow {
    font-size: .75rem
  }
  .body-intro {
    -webkit-margin-end: -33%;
    margin-inline-end: -33%
  }
  .body-intro__title {
    -webkit-margin-after: .75rem;
    margin-block-end: .75rem
  }
  .attitude {
    -webkit-padding-before: 1.875rem;
    padding-block-start: 1.875rem
  }
  .content-attitude {
    row-gap: .9375rem
  }
  .photo-body {
    flex: 0 1 12.5rem;
    min-block-size: 12.5rem;
    padding: .5rem
  }
  .body-content-attitude .content__quote {
    font-size: .75rem
  }
  .body-content-attitude .content__text {
    font-size: .875rem
  }
  .item-attitude {
    row-gap: .75rem
  }
  .buy {
    -webkit-padding-after: 3.125rem;
    padding-block-end: 3.125rem;
    -webkit-padding-before: 1.25rem;
    padding-block-start: 1.25rem
  }
  .buy__container {
    row-gap: 1.25rem
  }
  .buy__items {
    grid-template-columns: repeat(1,minmax(auto,21.875rem));
    row-gap: 1.25rem
  }
  .info-item-buy__name {
    font-size: 1.125rem
  }
  .info-item-buy__price {
    font-size: 1.125rem
  }
  .offer {
    padding-block: 2.8125rem
  }
  .main-offer__content .content__up-title {
    font-size: .75rem
  }
  .main-offer__content .content__quote {
    font-size: .75rem
  }
  .main-offer__content .content__text {
    font-size: .875rem
  }
  .belief {
    padding-block: 2.8125rem
  }
  .belief__container {
    grid-template-columns: auto;
    row-gap: 2.5rem;
    justify-items: center
  }
  .item-belief {
    max-inline-size: 80%
  }
  .item-belief>*:not(:last-child) {
    -webkit-margin-after: .625rem;
    margin-block-end: .625rem
  }
  .item-belief {
    -webkit-transform: translate(0,-15%);
    transform: translate(0,-15%)
  }
  .item-belief__title {
    font-size: 1rem
  }
  .info__body-block {
    flex: 1 0 17.5rem
  }
  .content-info {
    flex: 1 0 17.5rem
  }
  .content-info__video-play::before {
    border-top: .625rem solid transparent;
    border-left: 1.0625rem solid #000;
    border-bottom: .625rem solid transparent
  }
  .reviews {
    -webkit-padding-after: 2.5rem;
    padding-block-end: 2.5rem
  }
  .slide-reviews {
    row-gap: .9375rem
  }
  .slide-reviews__icon {
    inline-size: 4.6875rem
  }
  .slide-reviews__text {
    font-size: .875rem
  }
  .slide-reviews__title {
    font-size: 1.25rem
  }
}
@media (min-width:20em)and (max-width:100.125em) {
  .content__title {
    font-size: clamp(1.25rem ,.8131825273rem + 2.1840873635vw ,3rem)
  }
}
@media (min-width:31.25em)and (max-width:79em) {
  .logo {
    inline-size: clamp(7.5rem ,3.5732984293rem + 12.5654450262vw ,13.5rem)
  }
}
@media (min-width:25em)and (max-width:100em) {
  .body-intro__title {
    font-size: clamp(1.25rem ,-.4166666667rem + 6.6666666667vw ,6.25rem)
  }
}
@media (min-width:47.9375em)and (max-width:101.25em) {
  .mini-circle .slide-circle__up-photo {
    inset-block-start: clamp(.5rem ,-.5677754982rem + 2.2274325909vw ,1.6875rem)
  }
}
@media (max-width:47.99875em)and (min-width:37.5em) {
  .mini-circle .slide-circle__up-photo {
    inset-block-start: .5rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:37.5em) {
  .mini-circle .slide-circle__up-photo {
    inset-block-start: clamp(.125rem ,-.3035714286rem + 2.1428571429vw ,.5rem)
  }
}
@media (any-hover:hover) {
  .button:not(.button--border):hover::before {
    opacity: .3;
    box-shadow: 0 0 .3125rem .0625rem #c1ab81
  }
  .button--border:hover {
    background: #c1ab81;
    color: #222220
  }
  .menu__link:hover::before {
    inline-size: 100%
  }
  .actions-header__action:hover::before {
    inline-size: 100%
  }
  .main-footer__social-link:hover::after {
    inline-size: 150%;
    opacity: 1
  }
  .more-main-footer__link:hover::before {
    inline-size: 100%
  }
  .form-details__button:hover {
    outline: .1875rem solid #c1ab81;
    background: #222220
  }
  .arrows-swiper__arrow:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .item-belief__title:hover::after {
    inline-size: 100%
  }
  .item-belief__title:hover::before {
    -webkit-transform: rotate(180deg) scale(1.1);
    transform: rotate(180deg) scale(1.1)
  }
}